<!-- Use some technique called "scaling" to deal with rounding issues https://stackoverflow.com/questions/11832914/round-to-at-most-2-decimal-places-only-if-necessary -->
<li class="list-group-item">Cell potential (Ecell, V): <%= Math.round(ecell * 100) / 100 %> </li>
<li class="list-group-item">Positive (+) terminal: <%= posTerminal %></li>
<li class="list-group-item">Negative (-) terminal: <%= negTerminal %></li>