
<!-- Cell potential output uses "scaling" to deal with rounding issues -->
<!-- https://stackoverflow.com/questions/11832914/round-to-at-most-2-decimal-places-only-if-necessary -->
<li class="list-group-item bg-success white-text">standard cell potential (E°cell, V): <%= Math.round(ecell * 100) / 100 %> </li>
<li class="list-group-item">positive (+) terminal: <%= posTerminal %></li>
<li class="list-group-item">negative (-) terminal: <%= negTerminal %></li>