

<!-- Iterate through elemOptions to populate drop-down menu options -->
<optgroup class="selectable">
  <% for (let i = 0; i < elemOptions.length; i++) { %>
    <option><%= elemOptions[i].elementname %></option>
  <% }; %>
</optgroup>
