<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>

    <title>Cell Potential - About</title>
  </head>
    <% include ../partials/nav.ejs %>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md mt-5">
          <h6>About</h6>

          <p>
            asdf
          </p>
        </div>
      </div>
    </div>

    <% include ../partials/footer.ejs %>
  </body>
</html>