<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>

  <title>Battery Webpage - contact.ejs</title>
</head>
<body>
  <% include ../partials/nav.ejs %>

  
  
</body>
</html>