<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% result.rows.forEach(function(r) { %>
        <li>Atomic Number: <%= r.atomicnumber %><br>
            Element Name: <%= r.elementname %><br>
            Standard Electrode Potential: <%= r.sep %><br><br>
        </li>
    <% }); %>
</ul>

</div>

</body>
</html>
