<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>

    <title>Cell Potential - Resources</title>
  </head>
    <% include ../partials/nav.ejs %>

  <body>
    <p>
      Resources page
    </p>

    <% include ../partials/footer.ejs %>
  </body>
</html>