<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>

    <title>Cell Potential - Resources</title>
  </head>
    <% include ../partials/nav.ejs %>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md mt-5">
          <h6>Resources</h6>
          <p>
            <a href="https://chem.libretexts.org/Textbook_Maps/Analytical_Chemistry/Supplemental_Modules_(Analytical_Chemistry)/Electrochemistry/Voltaic_Cells/The_Cell_Potential">LibreTexts - The Cell Potential</a><br>
            <a href="https://www.khanacademy.org/science/chemistry/oxidation-reduction/electrochemistry-thermodynamics-and-equilibrium/v/free-energy-and-cell-potential">Khan Academy - Free energy and cell potential</a><br>
            <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/Chemical/electrode.html">HyperPhysics - Standard electrode potentials</a>
          </p>
        </div>
      </div>
    </div>
    
    <% include ../partials/footer.ejs %>
  </body>
</html>