<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <h2>Input</h2>
  <form id="index-form" method="POST" action="/test">
    <label for="input_a">A: </label>
    <input type="text" name="input_a" /><br>

    <label for="input_b">B: </label>
    <input type="text" name="input_b" /><br>

    <input type="submit" value="submit" />
  </form>

  <h3>Result:</h3>
  <div>
    <h4>A</h4>
    
    <%= result %>

  </div>

</body>
</html>