<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>

    <title>Battery Webpage - test.ejs</title>
  </head>
    <% include ../partials/nav.ejs %>

  <body>
    <div class="container text-center">
      <form method="POST" action="/test">
        <div class="row">
          <!-- Image, periodic table, & drop-down menus -->
          <div class="col-md table-responsive noselect">
            <img src="battery-galvanic-03.png" class="mw-100 py-4">

            <div class="container">
              <div class="row">
                <div class="col-md py-2">
                  <p>
                    <h6 style="text-align: left">Instructions:</h6>
                    <ol style="text-align: left">
                      <li>Select an element for <span style="color: blue; font-weight: bold">Cell X</span> by clicking on a symbol in the periodic table or choosing one from the drop-down menu below -- note that only the elements highlighted in white will produce results</li>
                      <li>Select an element for <span style="color: purple; font-weight: bold">Cell Y</span> in the same way</li>
                      <li>Click the "Submit" button to view the results</li>
                    </ol>
                  </p>
                    <!-- <%= cell_X.elementname %> <%= cell_Y.elementname %> -->
                </div>
            
                <div class="col-md py-2">
                  <% include ../partials/periodicTable.ejs %>
                </div>
              </div>
            </div>

            <div class="container">
              <div class="row">
                <div class="col-md py-2">
                    <span style="color: blue; font-weight: bold">Cell X</span>
                  <select id="elements_x" name="input_x" class="input form-control" onchange="updatePeriodicTable_x();"> 
                    <% include ../partials/elementOptions.ejs %>
                  </select>
                </div>  
                <div class="col-md py-2">
                    <span style="color: purple; font-weight: bold">Cell Y</span>
                  <select id="elements_y" name="input_y" class="input form-control" onchange="updatePeriodicTable_y();"> 
                    <% include ../partials/elementOptions.ejs %>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <button onclick="keepSelection()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
      </form>

      <!-- JavaScript -->
      <% include ../partials/keepSelection.ejs %>
    </div>

    <!-- Results -->
    <div class="container pb-4">
      <div class="row">
        <div class="col-md-4 py-2">
          <h6>Cell X</h6>
          <ul id="ul_x" class="list-group text-left">
           <% include ../partials/cellXData.ejs %>
          </ul>
        </div>
        <div class="col-md-4 py-2">
          <h6>Cell Y</h6>
          <ul class="list-group text-left">
           <% include ../partials/cellYData.ejs %>
          </ul>
        </div>
        <div class="col-md-4 py-2">
          <h6>Results</h6>
          <ul class="list-group text-left">
            <% include ../partials/cellResults.ejs %>
          </ul>
        </div>
      </div>

      <!-- <img src="battery-galvanic-02.png" class="mw-100"> -->
      <% include ../partials/footer.ejs %>
  </body>
</html>