<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>

    <title>Battery Webpage - test.ejs</title>
  </head>
    <% include ../partials/nav.ejs %>

  <body>

    <div class="jumbotron text-center">
      <form method="POST" action="/test">
        <div class="row">
          <div class="col-md-3 container">
            Select an element for cell X:
            <select id="elements_x" name="input_x" class="input form-control"> 
              <% include ../partials/elementOptions.ejs %>
            </select>
          </div>
          <div class="col-md-6">
            <!-- <img class="img-fluid" src="battery1.png"> -->
          </div>
          <div class="col-md-3 container">
            Select an element for cell Y:
            <select id="elements_y" name="input_y" class="input form-control"> 
              <% include ../partials/elementOptions.ejs %>
            </select>
          </div>
        </div>
        <br>
        Value: <input type="text" name="value">
        <br>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      <script>
        // let elements_y = document.getElementById("elements_y");

        let form = document.querySelector("form");
        form.addEventListener("submit", event => {
          console.log("Saving value: ", form.elements[1].selectedIndex);
          event.preventDefault();
        });

        // function setSelectedIndex_y(s, v) {  
        //   for (var i = 0; i < s.options.length; i++) {
        //     console.log(i, v);
        //     if (s.options[i].index === v) {
        //       s.options[i].selected = true;
        //       console.log(s.options[i].text);
        //       return;
        //     };
        //   };
        // };

        // function test() {
        //   var x = elements_y.selectedIndex;
        //   var y = elements_y.options;
        // alert("Index: " + y[x].index + " is " + y[x].text + " ey: " + y[x].value);
        // }
      </script>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Cell X</h4>
          <ul id="ul_x" class="list-group text-left">
           <% include ../partials/cellXData.ejs %>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Cell Y</h4>
          <ul class="list-group text-left">
           <% include ../partials/cellYData.ejs %>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Results</h4>
          <ul class="list-group text-left">
            <% include ../partials/cellResults.ejs %>
          </ul>
        </div>
      </div>

      <% include ../partials/footer.ejs %>
  </body>
</html>