<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>

    <title>Battery Webpage - test.ejs</title>
  </head>
    <% include ../partials/nav.ejs %>

  <body>
    <div class="jumbotron text-center">
      <form method="POST" action="/test">
        <div class="row">
          <!-- Left spacer -->
          <div class="col-md-3"></div>

          <!-- Periodic table & drop-down menus -->
          <div class="col-md-6 table-responsive noselect">
            <% include ../partials/periodicTable.ejs %>

            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  Select an element for cell X:
                  <select id="elements_x" name="input_x" class="input form-control"> 
                    <% include ../partials/elementOptions.ejs %>
                  </select>
                </div>  
                <div class="col-md-6">
                  Select an element for cell Y:
                  <select id="elements_y" name="input_y" class="input form-control"> 
                    <% include ../partials/elementOptions.ejs %>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <!-- Right spacer -->
          <div class="col-md-3"></div>
        </div>
        <br>
        <button onclick="keepSelection()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
      </form>

      <!-- JavaScript -->
      <% include ../partials/keepSelection.ejs %>
    </div>

    <!-- Results -->
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Cell X</h4>
          <ul id="ul_x" class="list-group text-left">
           <% include ../partials/cellXData.ejs %>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Cell Y</h4>
          <ul class="list-group text-left">
           <% include ../partials/cellYData.ejs %>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Results</h4>
          <ul class="list-group text-left">
            <% include ../partials/cellResults.ejs %>
          </ul>
        </div>
      </div>

      <!-- <img src="battery-galvanic-02.png" class="mw-100"> -->
      <% include ../partials/footer.ejs %>
  </body>
</html>