<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>

    <title>Battery Webpage - test.ejs</title>
  </head>

  <body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <form method="POST" action="/test">
        <div class="row">
          <div class="col-md-3 container">
            Select an element for cell X:
            <select id="selected_x" name="input_x" class="input form-control"> 
              <% include ../partials/elementOptions.ejs %>
              <%= console.log(cell_Y.elementname) %>

            </select>
          </div>
          <div class="col-md-6">
            <!-- <img class="img-fluid" src="battery1.png"> -->
          </div>
          <div class="col-md-3 container">
            Select an element for cell Y:
            <select id="selected_y" name="input_y" class="input form-control"> 
              <% include ../partials/elementOptions.ejs %>
            </select>
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Cell X</h4>
          <ul id="ul_x" class="list-group text-left">
           <% include ../partials/cellXData.ejs %>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Cell Y</h4>
          <ul class="list-group text-left">
           <% include ../partials/cellYData.ejs %>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Results</h4>
          <ul class="list-group text-left">
            <% include ../partials/cellResults.ejs %>
          </ul>
        </div>
      </div>

      <% include ../partials/footer.ejs %>
  </body>
</html>